/*start Global Rules*/

*{

    margin: 0px 0px;
}

html{

    scroll-behavior: smooth;

}

body{

    font-family: "Open Sans", sans-serif;

}

:root{

    --maincolor: #19c8fa;
    --mainmargin: 80px;
    --mainfontsiez: 18px;

}

/*end Global Rules*/

/* start header*/

.header {

    background-image: url(../images-folder/landing\ \(1\).jpg);

}

.header .container{

    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 50px;
    border-bottom: white solid 2px;
    font-size: var(--mainfontsiez);
    margin-left: var(--mainmargin);
    margin-right: var(--mainmargin);
}


.header .container .logo-image-of-header .logo-image{

    width: 150px;
    
}

.header .container .links{

    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: end;
}

.header .container .links :hover{

    color: var(--maincolor);
    border-bottom: 2px var(--maincolor) solid;
    row-gap: 20px;

}

.header .container .links .active{

    color: var(--maincolor);
}

.header .container .font-of-search ::after{

   content: "";
   position: absolute;
   background-color: white;
   height: 30px;
   width: 2px;
   right: 120px;
   top: 10px;

}


/* end header*/