/*start Global Rules*/

*{
    margin: 0px 0px;
}

html{

    scroll-behavior: smooth;

}

body{

    font-family: "Open Sans", sans-serif;

}

:root{

    --maincolor: #19c8fa;
    --mainmargin: 40px;
    --mainfontsiez:20px;

}

/*end Global Rules*/

/* start header*/


.header .container{

    margin-left: var(--mainmargin);
    margin-right: var(--mainmargin);
}

.header .container .Row-Of-Header{

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: var(--mainfontsiez);

}

.header .container .logo-header-Image{

    width: 45%;

}

.header .container .logo-header-Image .logo-image{

    width: 150px;

}

.header .container .Row-Of-Header .links{

    display: flex;
    gap: 30px;

}

.header .container .Row-Of-Header .links a{

    text-decoration: none;
    color: black;
    
}

.header .container .Row-Of-Header .font-of-header ::after{

    content:"";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: black;
    right: 80px;
    top: 23px;
 
}



/* end header*/