/*start Global Rules*/
html{

    scroll-behavior: smooth;

}

body{

    font-family: "Open Sans", sans-serif;
    max-width: 1366px;
    margin: 0px auto ;
    width: 100%;

}

:root{

    --maincolor: #19c8fa;
    --secondarycolor: white;
    --tertiary: black;
    --marginofbigsreen: 80px;
    --marginofmiddlesreen: 40px;
    --marginofsmallsreen: 20px;
    --paddingofbigsreen: 80px;
    --paddingofmiddlesreen: 40px;
    --paddingofsmallsreen: 20px;
    --fontsizeofbigscreen: 18px;
    --fontsizeofmiddlescreen: 14px;
    --fontsizeofsmallscreen: 10px;
    --linkspadding: 17px;
    --backgroundtext:rgb(15 116 143 / 70%);
    --specialheadingofbigscreen: 20px;
    --specialheadingofmiddlescreen: 16px;
    --specialheadingofsmallscreen: 12px;
    --iconsfontbigscreen: 35px;
    --iconsfontmiddlescreen: 25px;
    --iconsfontsmallscreen: 15px;

}

/*end Global Rules*/

/*start Gcomponents*/

.special-heading{

    margin-top: var(--marginofbigsreen);
    font-size: var(--specialheadingofbigscreen);
    text-align: center;
    color: var(--tertiary);
    position: relative;

}

@media(max-width:800px){
.special-heading{

    margin-top: var(--marginofmiddlesreen);
    font-size: var(--specialheadingofmiddlescreen);

}
}

@media(max-width:500px){
.special-heading{

    margin-top: var(--marginofbigsreen);
    font-size: var(--specialheadingofsmallscreen);

}
}

.special-heading h1{

    position: relative;
    border-bottom: var(--tertiary) solid 2px;
    padding-bottom: 20px;
    display: inline;

}

.special-heading h1::after{

    content: "";
    position: absolute;
    background-color: var(--secondarycolor);
    border: var(--tertiary) solid 2px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    bottom: -8px;
    right: 50%;
}


.special-heading p{

    margin-top: 50px;
    color: #777;
    margin: var(--marginofbigsreen);
    line-height: 1.5;

}

@media(max-width:800px){
.special-heading p{

    margin: var(--marginofmiddlesreen);

}
}

/*end components*/

/* start home-page*/

.home-page {

    position: relative;
    background-image: url(../images-folder/landing\ \(1\).jpg);
    background-size: cover;
    height: 100vh;
}

/* start header*/

.home-page .header .container{

    display:flex;
    align-items: center;
    color: var(--secondarycolor);
    gap: 50px;
    border-bottom: white solid 1px;
    font-size: var(--fontsizeofbigscreen);
    margin: 0px var(--marginofbigsreen);
    padding-top: 40px;
}

@media(max-width:800px){
.home-page .header .container{

    font-size: var(--fontsizeofmiddlescreen);
    margin: 0px var(--marginofmiddlesreen);

}
}

@media(max-width:500px){
.home-page .header .container{

    margin: 0px var(--marginofsmallsreen);

}
}

@media(max-width:285px){
.home-page .header .container
{

 border-bottom: none;

}
}

.logo-image-of-header .logo-image{

    width: 150px;

}

@media(max-width:800px){
.logo-image-of-header .logo-image{

    width: 100px;

}
}

.home-page .header .container .links{

    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-bottom: -1px;

}

.container .links a{

    padding: var(--linkspadding);

}

 .container .links .active{

    border-bottom: var(--maincolor) solid 1px;

}

.container .links .active{

    color: var(--maincolor);
}

.home-page .links :hover{

    color: var(--maincolor);
    padding: var(--linkspadding);
    border-bottom: 1px var(--maincolor) solid;

}

@media(max-width:1000px){

    .home-page .header .container .links{
  
        display: none;
  
    }

}

.home-page .font-of-options{

    display: none;

}

@media(max-width:1000px){

    .home-page .header .font-of-options{
  
        display: flex;
        flex-grow: 1;
        justify-content: end;
        
    }

}

.home-page .header .font-of-search{

    position: relative;

}

.home-page .font-of-search ::after{

    content: "";
    position: absolute;
    background-color: var(--secondarycolor);
    height: 25px;
    width: 2px;
    top: -3px;
    left: -15px;

}

/* end header*/

/* start landing*/

.home-page .landing .container{

    color: var(--secondarycolor);
    margin-top: 50px;
    width: 50%;

}


@media(max-width:1000px){

    .home-page .landing .container{
  
        width: 100%;
    }

}

.landing  .text{

    padding: var(--paddingofmiddlesreen) 20px var(--paddingofmiddlesreen) var(--paddingofbigsreen);
    background-color: var(--backgroundtext);

}

@media(max-width:800px){
 .landing  .text{

    padding: var(--paddingofmiddlesreen) 20px var(--paddingofmiddlesreen) var(--paddingofmiddlesreen);

}
}

@media(max-width:800px){
.landing  .text h2{

    font-size: var(--fontsizeofbigscreen);
    
}
}

.landing  .text span{

    line-height: 35px;

}

@media(max-width:800px){
.landing  .text span{

    font-size: var(--fontsizeofmiddlescreen);
    line-height: 25px;

}
}

.landing  .move-options .right-option i{

    position: absolute;
    top:50%;
    right: 30px;
    
}

@media(max-width:1000px){

    .home-page .landing .container .move-options .right-option i{

        display: none;

    }

}

.home-page .landing .container .move-options .left-option i{

    position: absolute;
    top:50%;
    left: 30px;
 
}

@media(max-width:1000px){

    .home-page .landing .container .move-options .left-option i{

        display: none;

    }

}

.home-page .landing .bullets{

    display: flex;
    margin-top: 60px;
    justify-content: center;
    gap: 10px;

}

@media(max-width:285px){
.home-page .landing .bullets{

    display: none;

}
}

.landing .bullets div{

    height: 10px;
    width: 10px;
    border: var(--secondarycolor) 2px solid;
    border-radius: 50%;

}

.landing .bullets .active{

    background-color: var(--maincolor);
    border: var(--maincolor) 2px solid;

}

/* end landing*/

/* end home-page*/

/* start services*/

.cards-of-service .cards{

    display: flex;
    margin: var(--marginofbigsreen);
    font-size: var(--fontsizeofbigscreen);
    gap: 50px;

}

@media(max-width:800px){
.cards-of-service .cards{

   
    margin: var(--marginofmiddlesreen);
    font-size: var(--fontsizeofmiddlescreen);
    gap: 30px;
}
}

@media(max-width:500px){
.cards-of-service .cards{

    margin: var(--marginofsmallsreen);
    font-size: var(--fontsizeofsmallscreen);
}
}

@media(max-width:1000px){
.cards-of-service .cards{

    display: grid;
}
}

.card{

    display: flex;
}

@media(max-width:1000px){
.card{

    display: grid;
    justify-content: center;

}
}

.cards i{

    font-size: var(--iconsfontbigscreen);

}

@media(max-width:1000px){
.cards i{

    display: flex;
    justify-content: center;

}
}

@media(max-width:800px){
.cards i{

    font-size: var(--iconsfontmiddlescreen);

}
}

@media(max-width:500px){
.cards i{

    font-size: var(--iconsfontsmallscreen);

}
}

.cards .text{
    
    display: grid;
    gap: 20px;
    padding-left: 30px;

}

@media(max-width:1000px){
.cards .text{
    
    text-align: center;
    padding:0px;
}
}

.cards h1{
    
    font-size: var(--fontsizeofbigscreen);
    color:var(--maincolor);

}

@media(max-width:800px){
.cards h1{
    
    font-size: var(--fontsizeofbigscreen);

}
}

@media(max-width:500px){
.cards h1{
    
    font-size: var(--fontsizeofmiddlescreen);

}
}

.cards span{

    color:#777;
    line-height: 30px;

}

@media(max-width:800px){
.cards span{


    line-height: 25px;

}
}

@media(max-width:500px){
.cards span{

    line-height: 15px;

}
}

/* end services*/

/* start Design*/

.design{

    display: flex;
    background-image: url(../images-folder/design-features.jpg);
    height: 600px;
    overflow: hidden;
}

.design .container{

    display: flex;
    align-items: center;
    gap: 100px;
    flex-grow: 1;
}

.design .container .moblie-image{

    padding-left: var(--paddingofbigsreen);
    position: relative;
    top: 150px;
}

@media(max-width:1000px){
.design .container .moblie-image{

    display: none;

}
}

.design .text{
    
    background-color: var(--backgroundtext);
    color: var(--secondarycolor);
    flex-grow: 1;
    padding: 40px;

}

.design .text div{

    display: flex;
    gap: 20px;
    font-size: var(--fontsizeofbigscreen);

}

.design .text div i{

    font-size: var(--iconsfontbigscreen);

}

@media(max-width:800px){
.design .text div i{

    font-size: var(--iconsfontmiddlescreen);

}
}

@media(max-width:500px){
.design .text div i{

    font-size: var(--iconsfontsmallscreen);

}
}

.design .font-design{

    align-items: center;

}

.design .text h1{

    padding-bottom: var(--paddingofmiddlesreen);
    font-size: var(--fontsizeofbigscreen);

}

.design .text p{

    line-height: 30px;

}

/* end Design*/

/* start Portfolio*/

.portfolio{

    margin-bottom: 30px;

}

.titles-of-portfolio{

    text-align: center;
    padding-bottom: var(--paddingofbigsreen);
}

@media(max-width:800px){
.titles-of-portfolio{

    padding-bottom: var(--paddingofmiddlesreen);

}
}

@media(max-width:500px){
.titles-of-portfolio{

    padding-bottom: var(--paddingofsmallsreen);

}
}

.titles-of-portfolio span{

    padding: 10px;
    font-size: var(--fontsizeofbigscreen);
    
}

@media(max-width:800px){
.titles-of-portfolio span{

    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.titles-of-portfolio span{

    font-size: var(--fontsizeofsmallscreen);

}
}

.titles-of-portfolio .active{

    background-color: var(--maincolor);
    color:var(--secondarycolor);

}

.portfolio .images{

    display: grid;
    grid-template-columns: auto auto auto auto;

}

@media(max-width:1000px){
.portfolio .images{

    display: grid;
    grid-template-columns: auto auto;

}
}

@media(max-width:600px){
.portfolio .images{

    display: grid;
    grid-template-columns: auto;

}
}

.images div{

    position: relative;
    overflow: hidden;

}

.images .options{

    position: absolute;
    bottom: -85px;
    width: 100%;
    background-color: var(--secondarycolor);

}

.image1:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image2:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image3:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image4:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image5:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image6:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image7:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.image8:hover .options{
    
    bottom: 0px;
    padding: 10px;
    transition: 0.5s;

}

.options h4{

    margin-bottom: 10px;

}

.images p{

    color:var(--maincolor)
}

.portfolio img{
    
    width: 100%;
    
}

.portfolio img:hover{
    
    transform: scale(1.1) rotate(3deg);
    transition: 0.5s;    

}

.more-option{

    display:flex;
    color: var(--secondarycolor);
    justify-content: center;
    margin-top: 20px;
}

.more-option h1{

    background-color: var(--maincolor);
    padding: 10px 20px;
    font-size: var(--fontsizeofbigscreen);

}

@media(max-width:800px){
.more-option h1{

    font-size: var(--fontsizeofmiddlescreen);

}
}

/* end Portfolio*/

/* start video*/

.video .bird-video{

    position: relative;

}

.video .mislead{

    position: absolute;
    background-color: #000000a6;
    width: 100%;
    height: 100%;

}

.video .text{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontsizeofbigscreen);
    padding: var(--paddingofmiddlesreen);      
    color: var(--secondarycolor);
    background-color: var(--backgroundtext);
    margin-top: var(--marginofbigsreen);

}

@media(max-width:800px){
.video .text{

    font-size: var(--fontsizeofsmallscreen);
    padding: var(--paddingofsmallsreen);    

}
}

@media(max-width:450px){
.video .text{

    margin-top: var(--marginofsmallsreen);

}
}

.text .link{

    padding: 10px 20px;
    background-color: var(--tertiary);
    font-family: math;
}

/* end video*/

/* start about-us*/

.about-us .mobile-image-of-about{

    text-align: center;
    width: 100%;
    margin-bottom: -5px;

}

.about-us .mobile-image-of-about img{

    width: 70%;

}

.about-us .background-texts img{

    width: 100%;
    height: 300px;

}

.about-us .body-of-texts{

    position: relative;

}

.body-of-texts .texts{

    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    background-color: var(--backgroundtext);
    color: var(--secondarycolor);
    padding: var(--paddingofsmallsreen);
    bottom: 50px;
    left: 30px;
    right: 30px;
    font-size: var(--fontsizeofmiddlescreen);
}

@media(max-width:800px){
    .body-of-texts .texts{
    
    grid-template-columns: auto auto;
    bottom: 20px;
    left: 15px;
    right: 15px;
    font-size: var(--fontsizeofsmallscreen);
}
}

@media(max-width:500px){
    .body-of-texts .texts{

    left: 5px;
    right: 5px;

}
}

.texts .card-of-about-us{

    display: grid;
    text-align: center;

}

.texts .font-of-about i{

    padding: 10px;
    background-color: var(--tertiary);
    border: var(--tertiary) 1px solid;
    border-radius: 50%;

}

/* end about-us*/

/* start expertise*/

.expertise .container{

    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin: var(--marginofbigsreen); 
    font-size: var(--fontsizeofbigscreen);
}

@media(max-width:1000px){
.expertise .container{

    grid-template-columns: auto ;

}
}

@media(max-width:800px){
.expertise .container{

    margin: var(--marginofmiddlesreen); 
    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.expertise .container{

    margin: var(--marginofsmallsreen); 
    font-size: var(--fontsizeofsmallscreen);

}
}

.expertise .titles-of-expertise{

    text-align: center;
    display: grid;
    margin-bottom: var(--marginofmiddlesreen);

}

.expertise p{

    line-height: 1.5;
    color:#777;

}

.testimonial .people-cards{

    display: grid;
    gap: 40px;

}

.people-cards .person-card{

    display: flex;
    gap: 30px;

}

@media(max-width:1000px){
.people-cards .person-card{

    display: grid;
    gap: 15px;

}
}

.person-card img{

    width: 100px;
    border-radius: 50%;
}

@media(max-width:1000px){
.person-card img{

    displaY: flex;
    justify-self: center;

}
}

@media(max-width:800px){
.person-card img{

    width: 70px;

}
}


.person-card .text{

    display: grid;
    border-bottom: 1px solid #777;

}

.text span{

    justify-self: end;
    font-size: var(--fontsizeofbigscreen);

}

@media(max-width:800px){
.text span{

    justify-self: end;
    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.text span{

    justify-self: end;
    font-size: var(--fontsizeofsmallscreen);

}
}

.testimonial .circles-of-testimonial{

    margin-top: 40px;
    display:flex;
    justify-content: center;
    gap: 10px;

}

.circles-of-testimonial div{

    width: 10px;
    height: 10px;
    border: #777 solid 1px;
    border-radius: 50%;

}

.circles-of-testimonial .active{

    background-color: var(--maincolor);

}

.rates .progs{

    display: flex;

}

.rates h3{

    font-size: var(--fontsizeofbigscreen);

}

@media(max-width:800px){
.rates h3{

    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.rates h3{

    font-size: var(--fontsizeofsmallscreen);

}
}

.adobe-rate .full{

    position: relative;
    width: 90%;
    height: 30px;
    background-color: var(--maincolor);

}

@media(max-width:800px){
.adobe-rate .full{

    position: relative;
    width: 90%;
    height: 15px;
    background-color: var(--maincolor);

}
}

.adobe-rate .empty{

    width: 10%;
    height: 30px;
    background-color: #dedadc;

}

@media(max-width:800px){
.adobe-rate .empty{

    width: 10%;
    height: 15px;
    background-color: #dedadc;

}
}

 .adobe-rate .full::after{

    content: "90%";
    font-size: 15px;
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 18px;
    width: 29px;
    right: -13px;
    top: -36px;

}

@media(max-width:800px){
 .adobe-rate .full::after{

    content: "90%";
    font-size: var(--fontsizeofsmallscreen);
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 12px;
    width: 20px;
    right: -13px;
    top: -34px;

}
}

.adobe-rate .full::before{

    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-radius: 5%;
    height: 0px;
    width: 0px;
    top: -19px;
    right: -14px;

}

.html-and-css-rate .full{

    position: relative;
    width: 85%;
    height: 30px;
    background-color: var(--maincolor);

}

@media(max-width:800px){
.html-and-css-rate .full{

    position: relative;
    width: 85%;
    height: 15px;
    background-color: var(--maincolor);

}
}

.html-and-css-rate .full::after{

    content: "85%";
    font-size: 15px;
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 18px;
    width: 29px;
    right: -13px;
    top: -36px;

}

@media(max-width:800px){
.html-and-css-rate .full::after{

    content: "85%";
    font-size: var(--fontsizeofsmallscreen);
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 11px;
    width: 20px;
    right: -13px;
    top: -31px;
}
}    

.html-and-css-rate .full::before{

    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-radius: 5%;
    height: 0px;
    width: 0px;
    top: -19px;
    right: -14px;
}

.html-and-css-rate .empty{

    width: 15%;
    height: 30px;
    background-color: #dedadc;

}

@media(max-width:800px){
.html-and-css-rate .empty{

    width: 15%;
    height: 15px;
    background-color: #dedadc;

}
}

.javascript-rate .full{

    position: relative;
    width: 80%;
    height: 30px;
    background-color: var(--maincolor);

}

@media(max-width:800px){
.javascript-rate .full{

    position: relative;
    width: 80%;
    height: 15px;
    background-color: var(--maincolor);

}
}

.javascript-rate .full::after{

    content: "80%";
    font-size: 15px;
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 18px;
    width: 29px;
    right: -13px;
    top: -36px;

}

@media(max-width:800px){
.javascript-rate .full::after{

    content: "80%";
    font-size: var(--fontsizeofsmallscreen);
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 11px;
    width: 20px;
    right: -13px;
    top: -31px;

}
}

.javascript-rate .full::before{

    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-radius: 5%;
    height: 0px;
    width: 0px;
    top: -19px;
    right: -14px;

}

.javascript-rate .empty{

    width: 20%;
    height: 30px;
    background-color: #dedadc;

}

@media(max-width:800px){
.javascript-rate .empty{

    width: 20%;
    height: 15px;
    background-color: #dedadc;

}
}

.php-rate .full{

    position: relative;
    width: 90%;
    height: 30px;
    background-color: var(--maincolor);

}

@media(max-width:800px){
.php-rate .full{

    position: relative;
    width: 90%;
    height: 15px;
    background-color: var(--maincolor);

}
}

.php-rate .full::after{

    content: "90%";
    font-size: 15px;
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 18px;
    width: 29px;
    right: -13px;
    top: -36px;

}

@media(max-width:800px){
.php-rate .full::after{

    content: "90%";
    font-size: var(--fontsizeofsmallscreen);
    position: absolute;
    background-color: var(--tertiary);
    color: var(--secondarycolor);
    border: 5px solid var(--tertiary);
    border-radius: 10%;
    height: 11px;
    width: 20px;
    right: -13px;
    top: -31px;

}
}

.php-rate .full::before{

    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-radius: 5%;
    height: 0px;
    width: 0px;
    top: -19px;
    right: -14px;

}

.php-rate .empty{

    width: 10%;
    height: 30px;
    background-color: #dedadc;

}

@media(max-width:800px){
.php-rate .empty{

    width: 10%;
    height: 15px;
    background-color: #dedadc

}
}

.expertise .imag-part{

    position: relative;

}

.expertise .text-of-image{

    position: absolute;
    background-color: #000000a6;
    height: 99%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

@media(max-width:500px){
.expertise .text-of-image{

    font-size: var(--fontsizeofbigscreen);

}
}

.text-of-image p{

    padding: 10px;
    color:var(--secondarycolor);

}

.expertise .image-of-expertise img{

    width: 100%;
    height: 250px;

}

/* end expertise*/

/* start Pricing*/

.pricing{

    margin-bottom: var(--marginofbigsreen);

}

.pricing .type-of-subscriptions{

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    line-height: 0.5;

}

@media(max-width:1000px){
.pricing .type-of-subscriptions{

    display: grid;
    grid-template-columns: auto auto;
    gap:20px;
    
}
}

@media(max-width:600px){
.pricing .type-of-subscriptions{

    display: grid;
    grid-template-columns: auto;

}
}

.type-of-subscriptions .subscription{

    background-color: #fcfcfc;
    displaY: grid;
    justify-content: center;
    text-align: center;

}

.subscription .pric-of-basic{

    displaY: grid;
    border-top: var(--maincolor) 1px solid;
    padding: 10px 50px 0px;
}

.pric-of-basic h1{

    position: relative;
    font-size: 70px;

}

@media(max-width:800px){
.pric-of-basic h1{

    font-size: 50px;

}
}

.pric-of-basic h1::before{

    content: "$";
    position: absolute;
    font-size: 30px;
    left: -20px;
    top: 0px;

}

.pric-of-basic h1::after{

    content: "/Mo";
    position: absolute;
    font-size: 25px;
    right: -45px;
    bottom: 0px;

}

.subscription .pric-of-Premium{

    displaY: grid;
    border-top: var(--maincolor) 1px solid;
    padding: 10px 50px 0px;

}

.pric-of-Premium h1{

    position: relative;
    font-size: 70px;

}

@media(max-width:800px){
.pric-of-Premium h1{

    position: relative;
    font-size: 50px;

}
}

.pric-of-Premium h1::before{

    content: "$";
    position: absolute;
    font-size: 30px;
    left: -20px;
    top: 0px;

}

.pric-of-Premium h1::after{

    content: "/Mo";
    position: absolute;
    font-size: 25px;
    right: -45px;
    bottom: 0px;

}

.subscription .pric-of-pro{

    displaY: grid;
    border-top: var(--maincolor) 1px solid;
    padding: 10px 50px 0px;

}

.pric-of-pro h1{

    position: relative;
    font-size: 70px;

}

@media(max-width:800px){
.pric-of-pro h1{

    position: relative;
    font-size: 50px;

}
}

.pric-of-pro h1::before{

    content: "$";
    position: absolute;
    font-size: 30px;
    left: -20px;
    top: 0px;

}

.pric-of-pro h1::after{

    content: "/Mo";
    position: absolute;
    font-size: 25px;
    right: -45px;
    bottom: 0px;

}

.subscription .pric-of-platinum{

    displaY: grid;
    border-top: var(--maincolor) 1px solid;
    padding: 10px 50px 0px;
}

.pric-of-platinum h1{

    position: relative;
    font-size: 70px;

}

@media(max-width:800px){
.pric-of-platinum h1{

    position: relative;
    font-size: 50px;

}
}

.pric-of-platinum h1::before{

    content: "$";
    position: absolute;
    font-size: 30px;
    left: -20px;
    top: 0px;

}

.pric-of-platinum h1::after{

    content: "/Mo";
    position: absolute;
    font-size: 25px;
    right: -45px;
    bottom: 0px;

}

.subscription .features p{

    padding: 15px 0px;
    border-top: solid var(--maincolor) 1px;

}

.subscription .buy p{

    border: solid var(--maincolor) 1px;
    padding: 15px 10px;
    color: blue;

}

.pricing .button-of-contact-us{

    text-align: center;
    padding: 30px;
    font-size: var(--fontsizeofbigscreen);

}

@media(max-width:800px){
.pricing .button-of-contact-us{


    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.pricing .button-of-contact-us{

    font-size: var(--fontsizeofsmallscreen);

}
}

.button-of-contact-us p{

    padding: 15px 20px;

}

.button-of-contact-us span{

    padding: 15px 20px;
    display: inline-block;
    background-color: var(--maincolor);
    color: var(--secondarycolor);

}

.pricing .contact-us-input{

    position: relative;

}

.contact-us-input img{

    width: 100%;
    height: 200px;

}

.pricing form{

    position: absolute;
    height: 100%;
}

form .inputs-and-text{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0px var(--marginofsmallsreen);
    
}

@media(max-width:800px){
form .inputs-and-text{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
}

.inputs-and-text .inputs{

    border: var(--secondarycolor) 1px solid;
    display: flex;
    align-items: center;
    margin-top: var(--marginofsmallsreen);
}

.inputs-and-text i{

    color: var(--secondarycolor);
    font-size: var(--iconsfontbigscreen);
    padding: 10px;
 
}

@media(max-width:800px){
.inputs-and-text i{

    font-size: var(--iconsfontmiddlescreen);

}
}

@media(max-width:500px){
.inputs-and-text i{

    font-size: var(--iconsfontsmallscreen);

}
}

.inputs-and-text .email-input{

    background-color: transparent;
    border-color: transparent;

}

@media(max-width:500px){
.inputs-and-text .email-input{

    width: 100%;

}
}

.inputs-and-text .submit-input{

    border-color: transparent;
    background-color: var(--maincolor);
    color:var(--secondarycolor);
    padding: 20px;
    font-size: var(--fontsizeofbigscreen);
 
}

@media(max-width:800px){
.inputs-and-text .submit-input{

    font-size: var(--fontsizeofmiddlescreen);
    padding: 15px;
}
}

@media(max-width:500px){
.inputs-and-text .submit-input{

    font-size: var(--fontsizeofsmallscreen);
    padding: 15px;
}
}

.inputs-and-text p{

    color: var(--secondarycolor);
    line-height: 1.5;
    font-size: var(--fontsizeofbigscreen);
 
}

@media(max-width:800px){
.inputs-and-text p{

    font-size: var(--fontsizeofmiddlescreen);

}
}

@media(max-width:500px){
.inputs-and-text p{

    font-size: var(--fontsizeofsmallscreen);

}
}

/* end Pricing*/

/* start contact us*/

.contact-us{

    padding: 0px var(--paddingofbigsreen);
    margin-bottom: var(--marginofbigsreen);

}

.container .body-of-contact-us{

    display: flex;
    gap: 60px;

}

@media(max-width:700px){
.container .body-of-contact-us{

    display: grid;

}
}

.body-of-contact-us .inputs-of-contact-us{

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    
}

.inputs-of-contact-us .contact-us-input{

    padding: 20px;
    font-size: var(--fontsizeofbigscreen);
    border: 1px solid #ccc;
    width: 100%;

}

.inputs-of-contact-us .submit-of-contact-us{

    display: flex;
    align-self: end;
    width: 130px;
    height: 50px;
    background-color: var(--maincolor);
    color: var(--secondarycolor);
    border: var(--maincolor) 1px solid;

}
@media(max-width:700px){
.inputs-of-contact-us .submit-of-contact-us{

    display: flex;
    align-self: center;

}
}

.body-of-contact-us .location{

    display: flex;
    flex-direction: column;
    gap: 70px;
    line-height: 2;

}

@media(max-width:700px){
.body-of-contact-us .location{

    display: grid;
    gap: 50px;
    justify-content: center;

}
}

.communication p{

    padding: 0px 0px 10px;

}

.location .communication span{

    display: block;
    color:#777;

}

/* end contact us*/

/* start footer*/

.footer{

    background-image: url(../images-folder/subscribe.jpg);

}

.footer .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 40px 0px;

}

.footer .social p{

    padding: 20px;
    font-size: 25px;
    color: var(--secondarycolor);
    border-bottom: var(--secondarycolor) 2px solid;

}

.footer .social i{

    display: flex;
    justify-content: center;
    color:var(--secondarycolor);
    padding-top: 10px;

}

.footer .copyright p{

    color:var(--secondarycolor);

}

.footer .copyright .special{

    color:var(--maincolor);
    font-weight: bold;
}

/* end footer*/